.welcome {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.selector {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.host {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.editor {
    position: absolute;
    top: 0;
    left: 0;
}